* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    background: #fafafa;
    color: #212121;
}

html {
    padding: 1em;
    font: 16px/1.5 CheKiangShuKeSung, "Songti TC", Georgia, sans-serif;
}

body {
    margin: auto;
    max-width: 66em;
}

.book {
    padding-top: 120%;
    margin: 1em;
    height: 0;
    display: block;
    overflow: hidden;
    position: relative;
    background: #9e9e9e center / cover no-repeat;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 17em) {
    .book {
        float: left;
    }

    .book:first-child { margin-left: 0; }
    .book:last-child { float: right; margin-right: 0; }

    body::after {
        display: block;
        content: '';
        clear: both;
    }
}

@media screen and (min-width: 17em) and (max-width: 34em) {
    .book {
        width: calc(50% - 1rem);
    }
}

@media screen and (min-width: 34em) and (max-width: 66em) {
    .book {
        width: calc(66.66667% - 1rem);
    }
}

@media screen and (min-width: 66em) {
    .book {
        width: 15rem;
    }
}

.details {
    width: 100%;
    height: 100%;
    top: 100%;
    overflow: scroll;
    position: absolute;
    transition: .28s all ease;
    background: #006064;
    color: #fff;
    opacity: .54;
    border-radius: 4px;
}

.book:hover .details, .book:active .details {
    top: 0;
    opacity: .87;
}

.title {
    margin: .6875rem 1rem 0;
    font-size: 1.3125rem;
    letter-spacing: .05em;
}

.summary {
    margin: .1875rem 1rem 0;
    font-size: .8125rem;
    line-height: 1.5rem;
    letter-spacing: .05em;
}
