<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>最近在看什麼書</title>
    <link rel="stylesheet" href="style.css" />
    <link href='//fonts.googleapis.com/css?family=IM+Fell French Canon:400' rel='stylesheet' type='text/css'><script src="//s3-ap-northeast-1.amazonaws.com/justfont-user-script/jf-44750.js"></script>
</head>
<body>
{{#books}}
    <section class="book" style="background-image: url('{{cover}}');">
        <div class="details">
            <h4 class="title">{{title}}</h4>
            <p class="summary">{{summary}}</p>
        </div>
    </section>
{{/books}}
</body>
</html>
